$font-size-extra-small: 6px;
$font-size-small: 10px;
$font-size-medium: 12px;
$font-size-large: 14px;
$font-size-extra-large: 16px;

$color-link: #2EA8E6;
$color-default-offer: #1698D9;
$color-selected-offer: #D91667;
$color-disabled-offer: #B3B3B3;

$color-yellow: #FFFF66;
$color-gray: #666666;